h1{
  margin-left: 150px;
  align-content: center;
}


.pollution {
  width: 300px;
  height: 110px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aqi>p {
  font-weight: 600;
  font-size: 80px;
  width: auto;
  margin-left: 30px;
}
.eachgas {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 20px;
  margin-right: 30px;
}
.col1.col2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1 1;
  padding: 10px;
}

.eachgas_row {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.gas_label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  padding: 2px;
}

.gas_value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  padding: 2px;
}
